.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: transparent !important;
  position: fixed;
  inset: 0px;
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: absolute;
  right: 30px !important;
  top: 72px !important;
  padding: 30px !important;
  width: 350px;
  height: 300px;
  background: #212122 !important;
  border-radius: 5px !important;
  box-shadow: rgb(0 0 0 / 60%) 0px 5px 20px;
  transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s;
  border: 0 !important;
  left: auto !important;
  bottom: auto !important;
}

.ReactModal__Content.ReactModal__Content--after-open h1 {
  font-size: 10px;
  color: #e2e2e2;
  padding: 0 24px;
  display: flex;
  justify-self: flex-start;
}

.ReactModal__Content.ReactModal__Content--after-open a {
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  color: rgb(225, 225, 230);
  padding: 12px 24px;
  transition: background 0.2s ease 0s;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 100%;
}

.ReactModal__Content.ReactModal__Content--after-open a span {
  margin-left: 24px;
  font-weight: bold;
}

.ReactModal__Content.ReactModal__Content--after-open a svg {
  width: 20px;
  height: 20px;
  color: #5196ff;
}

.ReactModal__Content.ReactModal__Content--after-open a:hover {
  background: "#212122";
}
